header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img {
    height: 50px;
}
nav {
    margin: 0;
    padding: 0;
}
nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}

.template{
    display: flex;
    background-color: blue;
    flex-wrap: wrap;
}
.flex-box{
    height: 200px;
    width: 250px;
    margin: 1px;
    border: 5px solid blue;
}
#box1{
    background-color: brown;
}
#box2{
    background-color: yellow
}
#box3{
    background-color: orange;
}
#box4{
    background-color: purple;
}
#box5{
    background-color: green;
}
#box6{
    background-color: blue;
}